


/*
COLOR PALETTE

BLACK: #201A23
WHITE: #FBFBFB
DARK: #44354A
COLOR: #9E4770
*/




*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #201A23;
    
}

#sales-board{
    font-family: 'Poppins', sans-serif;
    display: flex;
    color: #ffffff;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

h2{
font-size: 2rem;
}

button{
    background-color: #9E4770;
    width: 118px;
    font-size: 2rem;
    padding: 0.2rem 1rem;
    border-radius: 0.5rem;
    border: none;
}

button:hover{
    cursor: pointer;
}

#person-frame{
    width: 219px;
    height: 219px;
    border-radius: 50%;
}

#person-frame img{
    width: 100%;
    border-radius: 50%;
    border: 8px solid #44354A;
}

#button-section{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 250px;
    justify-content: space-between;
    
}


.results{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 867px;
    width: 100%;
    margin-bottom: 4rem;
}

.sales-achievements-style{
    height: 67px;
    width: 100%;
    background: #44354A;
  margin-top: 1rem;
  border-radius: 2rem;
  padding: 1rem;
  font-size: 2rem;
  overflow: scroll;

}

#revenue-commision-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 867px;
    margin-bottom: 4rem;
}

.totals{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 49%;
}

.total-display{
    height: 86px;
    background-color: #44354A;
    border-radius: 4rem;
    margin-top: 1rem;
    font-size: 2.5rem;
    padding: 1.2rem;
}
